*********************************************************
*                                                       *
* DRILL TAPE SUMMARY REPORT                             *
*                                                       *
* D:\SOURCE BOOK\DESIGN\POWERAMP\CLASS-AB\CLASS-AB.MAX  *
* Mon Jun 07 01:45:07 2010                              *
*                                                       *
*********************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       15       4        200      100                                                                                 
T2       28       28       200      100                                                                                 
T3       31       28       200      100                                                                                 
T4       34       34       200      100                                                                                 
T5       37       8        200      100                                                                                 
T6       39       12       200      100                                                                                 
T7       40       54       200      100                                                                                 
T8       42       4        200      100                                                                                 
T9       54       18       200      100                                                                                 
T10      60       8        200      100                                                                                 
T11      70       4        200      100                                                                                 
T12      80       8        200      100                                                                                 
T13      105      4        200      100                                                                                 
T14      110      14       200      100                                                                                 
T15      147      6        200      100                                                                                 
