*********************************************
*                                           *
* DRILL TAPE SUMMARY REPORT                 *
*                                           *
* D:\PROJECTS\ORCAD\POMPCONTROL\SCHEM7.MAX  *
* Thu Oct 08 20:02:36 2015                  *
*                                           *
*********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
